<ion-header>
  <ion-toolbar>
    <div class="nav-flex">
      <ion-title>Add a event</ion-title>
      <ion-icon name="arrow-back-circle-outline" (click)="goBack()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{actual_event.title === "" ? "New event" :
        actual_event.title}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="addEvent()" #form="ngForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Event name</ion-label>
            <ion-input
              placeholder="Enter text"
              [clearInput]="true"
              [(ngModel)]="actual_event.title"
              name="event-name"
              [required]="true"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Event date</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetime"
                  [min]="today"
                  (ionChange)="changeDatetime($event)"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item *ngFor="let people of actual_event.people, index as index">
            <ion-label position="floating">Participant {{index + 1}}</ion-label>
            <ion-input
              placeholder="Enter text"
              [clearInput]="true"
              [(ngModel)]="actual_event.people[index].name"
              name="{{'event-people' + index}}"
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="buttons-form">
          <ion-button fill="outline" (click)="goBack()"> Cancel </ion-button>
          <ion-button fill="solid" class="button-add" type="submit" [disabled]="form.invalid"> Add </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
