<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="nav-flex">
      <ion-title> Invisible Friend</ion-title>
      <ion-icon
        name="information-circle-outline"
        (click)="showInfoModal(true)"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="nav-flex">
        <ion-title size="large">Invisible Friend</ion-title>
        <ion-icon
          name="information-circle-outline"
          (click)="showInfoModal(true)"
        ></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-modal [isOpen]="show">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>About to</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="showInfoModal(false)"
              ><ion-icon name="close-circle-outline"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          This webapp is developed by Luca Lagos, please visit my
          <a href="http://luca-lagos.vercel.app" target="_blank">portfolio</a>. Thanks you for
          view and test this app <ion-icon name="happy-outline"></ion-icon>.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-segment value="all" [(ngModel)]="filter">
    <ion-segment-button value="all" (click)="getEvents('all')">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="earrings" (click)="getEvents('earrings')">
      <ion-label>Earrings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="finished" (click)="getEvents('finished')">
      <ion-label>Finished</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="empty-events" *ngIf="event?.length === 0">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>Empty</p>
  </div>

  <ion-card
    *ngFor="let e of event"
    [routerLink]="['/event', e.id]"
    [ngClass]="{'finished-event' : e.finished, 'continuous-event': !e.finished}"
  >
    <ion-card-header>
      <ion-card-title>{{e.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Amount of people: {{e.people.length}}</p>
      <p>Event date: {{getTimeBeforeEvent(e.date)}}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-event']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
