<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let event of events" [routerLink]="['/event']">
    <ion-card-header>
      <ion-card-title>{{event.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Cantidad de participantes: {{event.people.length}}</p>
      <p>Fecha del evento: {{event.date}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
