<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Invisible Friend </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Invisible Friend</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let e of event" [routerLink]="['/event', e.id]">
    <ion-card-header>
      <ion-card-title>{{e.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Cantidad de participantes: {{e.people.length}}</p>
      <p>Fecha del evento: {{e.date}}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-event']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
